<!--Presentación-->
<h1>Juego de Adivinación de Números Aleatorios - DWEC05</h1>
<hr>
<h2>Parámetros de Configuración del Juego</h2>

<!--Formulario-->
<!--Se gestionan los datos del formulario mediante formGroup y formControlName y se llama al método recogerDatos()-->
<form [formGroup]="datos" (ngSubmit)="recogerDatos()">
  <label>Nombre:</label><br>
  <input type="text" id="nombre" formControlName="nombre" required><br><br>
  <label>Apellido:</label><br>
  <input type="text" id="apellido" formControlName="apellido" required><br><br>
  <label>Rango de números a generar:</label><br>
  <input type="number" id="rango" formControlName="rango" required><br><br>
  <label>Número de intentos:</label><br>
  <input type="number" id="intentos" formControlName="intentos" required><br><br>
  <button type="submit" value="Recoger Datos">Recoger Datos</button>
</form>
<hr>

<!--Juego-->
<div [innerHTML]="ongiEtorri"></div>
<ng-template [ngIf]="this.mostrarJuego">
  <div>
    <form (submit)="evaluarIntento()">
      <label>Introduce el número a adivinar</label><br>
      <input type="number" [(ngModel)]="this.respuesta" placeholder="-1" name="adivinar"/><br><br>
      <label>Intentos restantes : {{this.intentosRestantes}} </label><br><br>
      <label *ngIf="this.mostrarRespuesta" [ngSwitch]="this.haAdivinado">¿Has adivinado? : <p *ngSwitchCase= true> SI </p>    <p *ngSwitchCase= false> NO </p> </label><br>
      <button type="submit" value="Enviar">Enviar</button>  
      </form>
      <hr>
  </div>
</ng-template>

<!--Mostrar resultado del juego-->
<p *ngIf="this.hasFallado">Se han acabado los intentos</p>
<ul *ngIf="this.terminarJuego">
  <li *ngFor = "let n of listaRespuestas">{{n}}</li>
</ul>